@font-face {
  font-family: 'KCC Ahnchangho';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCAhnchangho/KCCAhnchangho.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCAhnchangho/KCCAhnchangho.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCAhnchangho/KCCAhnchangho.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCAhnchangho/KCCAhnchangho.ttf') format('truetype');
}